
.skills-page {
    min-height: 100vh;
    height: auto;
    width: 100%;
    padding-bottom: 2rem;

    .skills_title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .skills_title {
        color: #202020;
        width: fit-content;
        font-family: 'Lora', serif;
        font-weight: 600;
        text-align: center;
        background-color: white;
        padding: 0.5rem 1.75rem;
        margin-bottom: 2rem;
        border-radius: .625rem;
        -webkit-box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);
        -moz-box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);
        box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);

        h2 {
            font-size: 4.4rem;
        }
    }

    .skills_subtitle {
        font-size: 2.4rem;
        font-weight: 600;
        font-style: italic;
        text-align: center;
    }

    .skills-middle {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        min-height: 80%;

        .tech-skills {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 60%;
            min-height: fit-content;


    
            h2, h3 {
                text-align: center;
            }
    
            h3 {
                font-size: 2vh;
            }
    
            &_main {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                padding: 1rem 0;
            }

            &_other {
                display: grid;
                width: 100%;
                grid-template-columns: repeat(5, 1fr);
                gap: 1rem;
                padding: 1rem 0;
            }
            
            .tech-skill {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                transition: 200ms ease all;
    
                &_title {
                    text-align: center;
                    font-size: 3.4rem;
                    font-weight: 600;
                    position: relative;
                    overflow: hidden;
                    transition: 200ms ease all;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        border-radius: 20px;
                        left: 0;
                        width: 100%;
                        height: 0.3rem;
                        background-color: var(--underlineColor, #A595AE);
                        opacity: 0;
                        transition: opacity 300ms, transform 300ms;
                        transform: translate3d(-100%, 0, 0);
                    }
                }

                &_title.tech-skill-title-small {
                    font-size: 2.2rem;
                }

                &_image {

                    @keyframes hover {
                        0% {
                            transform: translate3d(0, 0, 0);
                        }
                        50% {
                            transform: translate3d(0, 7%, 0);
                        }
                        100% {
                            transform: translate(0, 0, 0);
                        }
                    }
                    animation-timing-function: ease-in-out; 
                    animation-name: hover;
                    animation-duration: 3.5s;
                    animation-iteration-count: infinite;
                    transition: 200ms ease all;
                  
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.1);
                        animation: none;
                    }

                    &:hover + h3::after {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }

                    &:hover + h3 {
                        color: var(--underlineColor, #A595AE);
                    }
                }


                
    
                &_image.tech-skill-big {
                    height: 50%;
                    width: 10rem;
                    text-align: center;
                }

                &_image.tech-skill-small {
                    height: auto;
                    width: 8rem;
                    max-height: 6rem;
                    object-fit: contain;
                    text-align: center;
                }
            }
        }
    
        .word-skills {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;

            .word-skills-section {
                margin-bottom: 2rem;
            }

            .word-skills_title {
                color: #202020;
     
                font-family: 'Lora', serif;
                font-weight: 600;
                text-align: center;
                background-color: white;
                padding: 0.5rem 1.75rem;
                border-radius: .625rem;
                -webkit-box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);
                -moz-box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);
                box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);

                h3 {
                    font-size: 3.4rem;
                }
            }
    
            &_main, &_other {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
            }

            .word-skill {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .word-skill-text {
                    display: flex;
                    flex-direction: column;

                    p.word-skill_subtitle-big {
                        font-size: 2.2rem;
                    }

                    p.word-skill_subtitle-small {
                        font-size: 2.4rem;
                    }

                }

                &:hover {
                    transition: 200ms ease all;
                    color: #E8CFF6;
                }

                img {
                    width: 4rem;
                    margin-right: 2rem;
                }

                h3 {

                    &.word-skill_title-big {
                        font-size: 3.6rem;
                        font-weight: 600;
                    }

                    &.word-skill_title-small {
                        font-size: 3rem;
                        font-weight: 600;
                    }
                }
            }

    
        }
    }

    .skills-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

.skills_subtitle {
    font-size: 2.4rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.skills_title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}


@media only screen and (max-width: 900px) {
    .skills-page {
        height: auto;

    }
    .skills-page .skills-middle {
        flex-direction: column;

        .tech-skills {
            width: 100%;
            height: auto;
        }

        .tech-skills_main {
            grid-template-columns: 1fr 1fr;
            height: auto;
        }

        .tech-skills_other {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            height: auto;

            .tech-skill {
                grid-column: auto / span 1;
            }
        }

        .word-skills {
            width: 100%;

            .word-skill {

                .word-skill-text {
                    margin: 1rem;
                    
                    h3.word-skill_title-big {
                        font-size: 2.8rem;
                    }
    
                    p.word-skill_subtitle-big {
                        font-size: 2rem;
                    }
                }


            }


        }

     
    }
}