.page-container{
    background-color: var(--accent-color, rgba(44, 21, 5, 0.97));
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    background-attachment: fixed;
    position: relative;
    background-position: center;
    z-index: 1;
    background-position-y: 250em;
    transition: background-color 1s ease;

    display: flex;
    flex-direction: column;
}

.page-container:hover{
    background-color: var(--accent-hover-color, rgba(5, 28, 44, .85));
}