
.extra-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.extra-section_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.extra-section_right {
    background-color: rgba(165, 149, 174, 0.19); 
    border-radius: 4px;
    height: 100%;

    .word-skills-section {
        transition: 200ms ease all;
        margin-bottom: 0;
        &:hover {
            background-color: rgba(165, 149, 174, 0.35);
            box-shadow: -9px 11px 0px 0px rgba(165, 149, 174, .2); 
        }

        .word-skill-text {
            margin: 2rem;
        }
        
    }
}
.extra-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(165, 149, 174, 0.19); 
    width: 100%;
    color: white;
    margin: 4rem;
    padding: 2rem;
    border-radius: 4px;
    transition: 200ms ease all;

    // box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);


    figure {
        position: relative;
        width: 85%;;
        background-color: rgb(165, 149, 174);
        height: 100%;
        min-height: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        border-radius: 20px;
        margin: 2rem;
        
        img {
            width: 100%;
            transition: 200ms ease all;
        }

        figcaption {
            position: absolute;
            transform: translateY(100%);
            opacity: 0;
            transition: 150ms ease all;
            font-weight: 700;
            color: white;
            font-size: 3.5rem;
        }

        
    }

    p {
        font-size: 2.8rem;

        span {
            font-weight: 700;
        }
    }

    &:hover {
        background-color: rgba(165, 149, 174, 0.35);
        box-shadow: -9px 11px 0px 0px rgba(165, 149, 174, .2); 

        figure {
            
            img {
                filter: blur(8px);
                opacity: .6;
               
            }
            figcaption {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}


.skills_title {
    color: #202020;
    width: fit-content;
    font-family: 'Lora', serif;
    font-weight: 600;
    text-align: center;
    background-color: white;
    padding: 0.5rem 1.75rem;
    margin-bottom: 2rem;
    border-radius: .625rem;
    -webkit-box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);
    -moz-box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);
    box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);

    h2 {
        font-size: 3.4rem;
    }
}
    .word-skills-section {
        margin-bottom: 2rem;
        padding: 4rem;
    }

    .word-skills_title {
        color: #202020;

        font-family: 'Lora', serif;
        font-weight: 600;
        text-align: center;
        background-color: white;
        padding: 0.5rem 1.75rem;
        border-radius: .625rem;
        -webkit-box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);
        -moz-box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);
        box-shadow: -9px 11px 0px 0px rgb(165, 149, 174);

        h3 {
            font-size: 3.4rem;
        }
    }

    .word-skills_other {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }




    .word-skill {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .word-skill-text {
            display: flex;
            flex-direction: column;

            p.word-skill_subtitle-big {
                font-size: 2.4rem;
            }

            p.word-skill_subtitle-small {
                font-size: 2.2rem;
            }

        }

        &:hover {
            transition: 200ms ease all;
            color: #A595AE;
        }

        img {
            width: 4rem;
            margin-right: 2rem;
        }

        h3 {

            &.word-skill_title-big {
                font-size: 3.4rem;
                font-weight: 600;
            }

            &.word-skill_title-small {
                font-size: 2.8rem;
                font-weight: 600;
            }
        }
    }

@media only screen and (max-width: 900px) {
    .extra-section {
        width: 100%;
        flex-direction: column;

        .extra-section_left {
            width: 100%;

            .extra-group {
                flex-direction: column;
                width: auto;

                figure {
                    min-height: auto;
                    max-width: 20rem;
                }
            }
        }
    }
}